body{
    font-family: "roboto", sans-serif;
     color: #434455;
     font-size: 16px;
     font-style: normal;
     line-height: 1.5;
     letter-spacing: 0.02em;
     background-color: white;
}

a {
    text-decoration: none;
}

ul{
    list-style: none;
}

.logo{
    font-family: "raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;

}

.nav li a{
    color: #2E2F42;
    text-decoration: none;
}

.nav li a:hover{
    color: #404BBF;
}

.address li a{
    color: #434455;
    text-decoration: none;
}

.address li a:hover{
    color: #404BBF;
}

.logo > p{
    color: white;
}

.btn{
    background-color: #4D5AE5;
    color: white;
    padding: 16px 32px 16px 32px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.btn:hover{
    background-color: #404BBF;
}

.h1{
  font-size: 56px;
  font-weight: bold;
  letter-spacing: 0.02em;
  line-height: 1.07;
  color: white;
  background-color: #2E2F42;
  text-align: center;
}

.h2ot{
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 0.02em;
    line-height: 1.11;
    color: #2E2F42;
    background-color: #F4F4FD;
    text-align: center;
}

#white li{
background-color: white;
}

.h2op{
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 0.02em;
    line-height: 1.11;
    color: #2E2F42;
    background-color: #ffffff;
    text-align: center;
}

h3{
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.2;
    
}

#footer p{
    color: white;
}
