body{
    font-family: "roboto", sans-serif;
     color: #434455;
     font-size: 16px;
     font-weight: 400;
     font-style: normal;
     line-height: 24px;
     letter-spacing: 2%;
     background-color: white;
}

.logo{
    font-family: "raleway", sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 21px;
    letter-spacing: 3%;

}

.nav{
    color: #2E2F42;
    text-decoration: none;
}

.address{
    color: #434455;
    text-decoration: none;
}

.logo > p{
    color: white;
}

.btn{
    background-color: #4D5AE5;
    color: white;
    padding: 16px 32px 16px 32px;
    font-size: 16px;
    font-weight: 500;
}

.btn:hover{
    background-color: #404BBF;
}

.h1{
  font-size: 56px;
  font-weight: bold;
  letter-spacing: 2%;
  line-height: 60px;
  color: white;
  background-color: #2E2F42;
  text-align: center;
}

.h2ot{
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2%;
    line-height: 40px;
    color: #2E2F42;
    background-color: #F4F4FD;
    text-align: center;
}

#white li{
background-color: white;
}

.h2op{
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2%;
    line-height: 40px;
    color: #2E2F42;
    background-color: #ffffff;
    text-align: center;
}

.h3{
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2%;
    line-height: 24px;
    color: white;
    background-color: #2E2F42;
    text-align: center;
}

#footer p{
    color: white;
}
